<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        textarea{
            width: 1000px;
            height: 2000px;
            border: solid 2px black;
        }
    </style>
</head>
<body>
    <form action="/" method="post">
        <input type="url" name="url">
        <input type="submit">
    </form>
     <div>
         <th>------영어------</th><br>
         <tr th:if="filteredChar != null" th:each="char : ${filteredChar}">
             <td th:text="${char}"></td>
         </tr>

         <br><br><br>

         <th>-------숫자-------</th><br>
         <tr th:if="filteredInt != null" th:each="int : ${filteredInt}">
             <td th:text="${int}"></td>
         </tr>
     </div>

</body>
</html>
